@{

}
<div class="banner product">
    <div class="title">
        <p>基金介绍</p>
        <p class="en"></p>
    </div>
</div>
<div class="main-newsdate">
    <div class="layui-container">
        <h1 style="text-align: center; line-height: 2em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 24px;"><strong>概况</strong></span>
        </h1>
        <p style="margin-top: 10px; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp;之江文旅产业发展基金（有限合伙企业）成立于2019年11月，由浙江省文化产业投资集团有限公司、杭州市萧山区国有资产经营总公司和七彩文化科技集团有限公司作为有限合伙人（LP），由省文投（占35%）与七彩小镇（65%）共同合资的杭州之文股权投资有限公司担任普通合伙人（GP），基金总投资规模为100亿，首期到位10亿元，一期项目总投规模80亿元。</span>
        </p>
        <h1 style="line-height: 2em; margin-top: 10px; text-align: center;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 24px;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">三大产业链</span></strong></span>
        </h1>
        <p style="text-indent: 0em; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">&nbsp; &nbsp; &nbsp; &nbsp;根据省文投和七彩控股所拥有的产业资源，基于萧山国资打造六大产业平台的需求，三方将围绕文旅产业、民生服务和数字经济等内容，培育三大产业链，为三方合资的混合所有制平台提供运营赋能。</span>
        </p>
        <h1 style="text-indent: 32px; line-height: 2em; text-align: center;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 16px;"><img src="/upload/image/20200407/6372187424259100732119629.png" title="之江文旅简介.png" alt="之江文旅简介.png" width="545" height="327" /></span>
        </h1>
        <h1 style="text-indent: 32px; line-height: 2em; text-align: center;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 24px;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">基金投向</span></strong></span>
        </h1>
        <p style="text-indent: 32px; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">&nbsp;之江文旅产业基金利用省文投在数字文化产业、艺术品开发交易、影视产业链等领域布局的IP资源，并借鉴七彩控股在实践中形成的“文旅融合产业生态圈”打造一批线上内容与线下场景有机融合的城镇及社区文旅融合示范综合体，通过旗舰项目和示范项目的落地运作，为全省文旅融合发展提供实践探索与运营示范。投资主要以萧山区为主、兼顾杭州都市圈和浙江省内优秀资产，投资和运营三方储备的存量和增量项目。具体包括：</span>
        </p>
        <p style="text-indent: 37px; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">1.投资萧山区瓜沥镇、进化镇等小城镇的城镇和未来社区邻里与文化中心民生服务综合体；</span>
        </p>
        <p style="text-indent: 37px; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">2.投资或运营空港、千岛湖等文旅综合体；</span>
        </p>
        <p style="text-indent: 37px; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">3.在数字经济领域，整合省文投的数字文化娱乐平台、萧山国资的智慧城市平台和七彩安科的智慧楼宇资管能管平台，助力于萧山区的数字经济发展四年双倍增行动计划。</span>
        </p>
        <h1 style="text-indent: 37px; line-height: 2em; text-align: center;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 24px;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">展望</span></strong></span>
        </h1>
        <p style="text-indent: 37px; line-height: 2em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 20px;"><strong><span style="font-size: 20px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"></span></strong></span>
        </p>
        <p style="text-indent: 32px; text-align: left; line-height: 3em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; text-indent: 32px; font-size: 18px;">&nbsp;未来基金将带动更多产业资本、社会资本、金融资本助力文旅产业，各方将进一步加深构建业务整合、全流程服务等全方位的合作与交流，打造区域文化地标，建设文化综合体，升级文化场景消费模式，培育与发展一批文旅产业、民生服务和数字经济运营的全省标杆性、引领性、示范性项目，在文旅融合中创造出新价值，催生新业态，赋予新动能。</span>
        </p>
        <h1 style="text-indent: 32px; line-height: 2em; text-align: center;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 24px;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;">组织架构</span></strong></span>
        </h1>
        <p style="text-indent: 32px; line-height: 2em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 20px;"><strong><span style="font-size: 20px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><br /></span></strong></span>
        </p>
        <p style="text-indent: 32px; line-height: 2em; text-align: center;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 20px;"><strong><span style="font-size: 20px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><img src="/upload/image/20200407/6372187446893412713619538.png" title="组织架构.png" alt="组织架构.png" /></span></strong></span>
        </p>
        <p style="text-indent: 32px; line-height: 2em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 20px;"><strong><span style="font-size: 20px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><br /></span></strong></span>
        </p>
        <p style="text-indent: 32px; line-height: 2em;">
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 20px;"><strong><span style="font-size: 20px; font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"><br /></span></strong></span>
        </p>
        <p>
            <span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;; font-size: 20px;"><strong><span style="font-family: 微软雅黑, &quot;Microsoft YaHei&quot;;"></span></strong></span><br />
        </p>
    </div>
</div>
