@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var url = ViewBag.pathUrl;
}
<!-- nav部分 -->
<div class="nav index">
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
                <img style="width:120px;height:50px" src="~/lib/static/img/LOGO1.png" />
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="/Home">首页</a></li>
                <li class="layui-nav-item"><a href="/BBS">基金介绍</a></li>
                <li class="layui-nav-item"><a href="/news?id=5">公司新闻</a></li>
                <li class="layui-nav-item"><a href="/Construction">投资项目</a></li>
                <li class="layui-nav-item"><a href="/news?id=6">招标发布</a></li>
                <li class="layui-nav-item"><a href="/news">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>
